<body>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <!--class names are separated by a space, so we can add multiple classes to the same
        given double underscore because it's an element
        inside this block, so it cannot exist on it's own-->
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, laborum!
      </div>
    </div>
  </div>
</body>
