<div class="media">
  <div class="media__image">
    <!--Seperate structure from skin!-->
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p class="quote__organization">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, culpa sit.
      Eos doloribus tenetur molestiae temporibus adipisci rerum ipsa enim!
    </p>
  </div>
</div>
