<!--
    Plan component contains a card component that can be used to display a plan or 
    subscription details. It uses the card component with a secondary style.
    Contains badges, title, description, lists, and a button to purchase the plan.
    In header we display the name of the plan, price, billing cycle, and a badge.
-->
<div class="plan plan--popular">
  <div class="card card--secondary">
    <!--class names are separated by a space, so we can add multiple classes to the same
            given double underscore because it's an element
            Use two underscores to emphasize seperation from the block and element.
            inside this block, so it cannot exist on it's own-->
    <header class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan__billing-cycle">/month</span>
      <span class="badge badge--secondary badge--small">10% OFF</span>
      <span class="plan__description">East start on the cloud</span>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
      </ul>
      <button class="btn btn--outline btn--block">BUY NOW</button>
    </div>
  </div>
</div>
