<body>
  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque
      quisquam eum nam sapiente dolore id expedita vero, temporibus cupiditate.
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <!--Seperate structure from skin!-->
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Escobar Smith</h3>
          <p class="quote__organization">Company, Inc.</p>
        </div>
      </div>
    </footer>
  </blockquote>
</body>
